@media screen and (max-width: 768px) {
  body {
    background-color: rgb(13, 17, 23);
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
  }
  .container {
    display: flex;
    margin: 0;
    margin-right: 15px;
    margin-top: 700px;
    z-index: 500;
}

  .bloco_1,
  .bloco_2,
  .bloco_3,
  .bloco_4 {
   width: auto;
   height: auto;
  }
  #emp_1,
  #emp_2,
  #emp_3,
  #emp_4 {
  width: 55px;
  height: 55px;
}
  .border_lat {
    background-color: rgb(31, 36, 43);
    margin-top: 80px;
    padding: 20px;
    height: 200vh;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.137);
    display: flex;
    justify-content: center;
    position: fixed;

  }
  #cnt_1,
  #cnt_2,
  #cnt_3,
  #cnt_4 {
    padding: 10px;
    height: 40px;
    width: 200%;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cnt_4 {
    border-bottom: 1px solid white;
  }
  .projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200%;
    border-bottom: 1px solid white;
    color: white;
    font-size: 15pt;
    font-weight: bold;
  }

  #cnt_1:hover,
  #cnt_2:hover,
  #cnt_3:hover,
  #cnt_4:hover {
    background: rgba(240, 248, 255, 0.185);
  }

  .projetos:hover {
    background: rgba(240, 248, 255, 0.185);
  }

}
